<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Kênh hỗ trợ</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group" id="contact-list">
      <li class="list-group-item">
        <div class="col-xs-12 col-sm-5">
          <img src="images/contact/tvq.jpg" alt="Tất Vĩ Quyền" class="img-responsive img-circle" />
        </div>
        <div class="col-xs-12 col-sm-7 info-contact">
          <span class="name">Tất Vĩ Quyền</span>
          <hr class="line-bottom"/>
          <span class="material-icons text-muted c-info" data-toggle="tooltip" title="14DH110161">account_circle</span>
          <span class="material-icons text-muted c-info" data-toggle="tooltip" title="tatviquyen.name.vn">fingerprint</span>
          <span class="material-icons text-muted c-info" data-toggle="tooltip" title="tvqisme@gmail.com">message</span>
        </div>
        <div class="clearfix"></div>
      </li>

      <li class="list-group-item">
        <div class="col-xs-12 col-sm-5">
          <img src="images/contact/phuc.jpg" alt="Châu Minh Phúc" class="img-responsive img-circle" />
        </div>
        <div class="col-xs-12 col-sm-7 info-contact">
          <span class="name">Châu Minh Phúc</span>
          <hr class="line-bottom"/>
          <span class="material-icons text-muted c-info" data-toggle="tooltip" title="14DH110156">account_circle</span>
          <span class="material-icons text-muted c-info" data-toggle="tooltip" title="phucgaoxam@gmail.com">fingerprint</span>
          <span class="material-icons text-muted c-info" data-toggle="tooltip" title="phucgaoxam@gmail.com">message</span>
        </div>
        <div class="clearfix"></div>
      </li>

      <li class="list-group-item">
        <div class="col-xs-12 col-sm-5">
          <img src="images/contact/tai.jpg" alt="Trương Thanh Tài" class="img-responsive img-circle" />
        </div>
        <div class="col-xs-12 col-sm-7 info-contact">
          <span class="name">Trương Thanh Tài</span>
          <hr class="line-bottom"/>
          <span class="material-icons text-muted c-info" data-toggle="tooltip" title="14DH110249">account_circle</span>
          <span class="material-icons text-muted c-info" data-toggle="tooltip" title="">fingerprint</span>
          <span class="material-icons text-muted c-info" data-toggle="tooltip" title="">message</span>
        </div>
        <div class="clearfix"></div>
      </li>


    </ul>
  </div>
</div>