<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrap-item text-center">
      <div class="item-img">
        <i class="material-icons md-60 blue800">location_on</i>
      </div>
      <h2>Tìm Chuyến Bay</h2>
      <p>Người theo hương hoa mây mù giăng lối.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrap-item text-center">
      <div class="item-img">
        <i class="material-icons md-60 blue800">golf_course</i>
      </div>
      <h2>Chọn Vé Thích Hợp</h2>
      <p>Làn sương khói phôi phai đưa bước ai xa rồi.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrap-item text-center">
      <div class="item-img">
        <i class="material-icons md-60 blue800">book</i>
      </div>
      <h2>Đặt Vé & Thanh Toán</h2>
      <p>Đơn côi mình ta vấn vương hồi ức trong men say chiều mưa buồn.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrap-item text-center">
      <div class="item-img">
        <i class="material-icons md-60 blue800">mood</i>
      </div>
      <h2>Tận Hưởng Chuyến Bay</h2>
      <p>Ngăn giọt lệ ngừng khiến khoé mi sầu bi.</p>
    </div>
  </div>
</div>

<hr/>
<div class="padding10"></div>