.primary-color{
	color:#00ACC1!important;
}

.bottom-line{
  margin-top: 20px;
  border: 0;
  border-top: 0px;
  height: 3px;
  width: 80px;
  background-color: #80DEEA;
}

.material-icons.blue200 { color: #80DEEA; }

.material-icons.blue800 { color: #00838F; }

.material-icons.md-60 { font-size: 60px; }

.material-icons.grey{ color:#ccc; }

.padding10{
	padding-top:10px;
}

/*Do body có class index-page*/
.index-page .dat-ve{
	padding:20px;
	margin-top:18vh;
}

.title-dat-ve{
	font-size: 26px;
  font-weight: bold;
  color: #00838F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sl-setting{
  margin: -10px 36px 12px 23px;
}


.title-dvmb{
	padding:10px;
}

.radio-loai-ve{
	display:inline-block;
}

.row-dat-ve{
	text-align:center; /*căn giữa cho inline-block*/
}

.flex-center-item{
	display:flex;
	align-items:center;
}


.inline-block{
	display:inline-block;
}

.dd-diadiem-margin{
	margin-top:-40px!important;
}

.drop-soluong{
	display:inline-block;
}

.dropdown-menu-soluong{
	min-width:86px;
}

.flex-soluong{
	display:flex;
	align-items:center;
	justify-content:center;
}

.flex-soluong:nth-child(1),
.flex-soluong:nth-child(2){
	border-right:2px solid #eee;

}

span.sl{
	font-size:22px;
	vertical-align:sub;
}

.btn-timchuyenbay{
	width:100%;
}

.icon-khu-hoi{
	display: inline-flex;
  vertical-align: bottom;
  font-size: 20px;
  padding-left: 10px;
  cursor: pointer;
  color:#b2b2b2;
}

/*============DROPDOWN LARGE=================*/
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
  width:600px;
  padding-right: 25px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #2b2b2b;
  background-color: #dcdcdc;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

/*=================MAIN CONTENT ON INDEX================*/
.item-gia-re{
  padding:10px 0;
}
.image-city{
  width: 210px;
  height:180px;
  background-size: cover;
  background-position: 50% 25%;
  border-radius:5px;
  position: relative;
}

.info-gia-re{
  position: absolute;
  width: 100%;
  bottom:0;
  left:0;
  background-color: rgba(0,0,0,0.7);
  color:#fff;
  padding: 7px 10px;
}

a.mask{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.info-gr-location {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.info-gr-date {
  font-size: 12px;
}

.info-gr-price {
  font-size: 16px;
  background-color: #48a74b;
  display: inline-block;
  padding: 0 3px;
  margin-top:3px;
}

/*==CONTACT==*/
.c-toggle {
  font-size: 1.7em;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.c-info {
  padding: 5px 10px;
  font-size: 1.25em;
}

.info-contact{
  margin-top:20px;
}


/*================NOT INDEX=============*/
.header-height-2nd{
  height: 200px;
}

.main-top-margin{
  margin-top:-100px;
}

.main-2nd{
  padding:20px 50px;
}

.process-content{
  display: inline-flex;
  align-items: center;
}

h3.process {
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

h3.process.active{
  color:#00838F;
}

.panel-flex{
  display: flex;
  align-items: center;
}

.chi-tiet-chuyen-bay{
  display:flex;
  align-items: center;
  padding: 10px 0;
}

.chi-tiet-ma-chuyen{
  padding:0;
  padding-left:20px;
  margin:0;
}

.chi-tiet-diem-di{
  text-align: right;
  border-right:2px solid #ddd;
}

.chi-tiet-diem-den{
  border-left:2px solid #ddd;
  text-align: left;
}

.chi-tiet-tram-dung{
  text-align: center;
}

p.chi-tiet-san-bay{
  color:#666;
}

p.chi-tiet-gia{
  font-size:24px;
  letter-spacing: 1.3px;
  font-weight: bold;
  color:#00838f;
}

.chi-tiet-xem {
  display: inline-flex;
  font-size: 11px;
  text-align: center;
}

hr.tram-dung{
  border: 0;
  border-top: 0px;
  height: 3px;
  margin: -5px 0 10px 0;
  background-color: #949494;
}

.row.thong-tin-cu-the {
  display: flex;
  align-items: center;
  padding-left:70px;
}

hr.ttct{
  height: 2px;
  background-color: #90A4AE;
  margin-bottom: 15px;
}

.bo-loc-title{
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px dotted #c1c1c1;
  display: flex;
  align-items: center;
}

dung{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #676767;
  position: absolute;
  top: 42%;
}

.well-chuyen-bay{
  padding: 10px;
  font-size: 16px;
}

.icon-cb{
  margin: 0 30px 0 -10px;
}

.icon-tt{
  text-align: right;
  height: 0;
  line-height: 120px;
}

.icon-tt-gc{
  text-align: right;
  line-height: 130px;
}

.md-tt{
  font-size: 35px;
  color: #00ACC1;
}

.panel-tt{
  margin-right: 80px;
}

.text-large{
  font-size: 120%;
  font-weight: bold;
}
.panel.panel-blue800{
  border-radius: 2px;
  border: 2px solid #dcdcdc;
  box-shadow: 0 1px 8px rgb(218, 218, 218), 0 0px rgba(0, 0, 0, 0.12);
}

.panel.panel-blue800 > .panel-heading {
  background-color: #00838F;
}

.icon-tt-km{
  line-height: 90px;
}

.badge-cd{
  background-color: #fff;
  color: #865f00;
}